@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&display=swap');


body{
 
  --text-color: #9370DB; /* Crear la variable --main-color con valor #FFA500 */
  --background-color: #282c34; /* Crear la variable --main-color con valor #FFA500 */
  --white-color: #FAFAFA; /* Crear la variable --main-color con valor #FFA500 */
  --alt-font: 'Playfair Display SC', serif;
  --main-font:'Quicksand', sans-serif;
}

.app {
  text-align: center;
  background-color: var(--background-color);
  font-family: var(--main-font);
    
}

@media (min-width:821px){
  .app{
    display: grid;
    grid-template-columns: 200px auto;
  }
}
